* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  background: #fafafa;
}

a {
  color: #1a75cf;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ul ul  {
  list-style-type: disc;
}

code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}

code {
  line-height: 1.6em;
  font-size: 1em;
}

pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 1.5em 0;
  border-bottom: 6px solid #1a75cf;
  color: #fafafa;
  background: #22394f;
}

.title {
  margin: 0.75em 0;
  font-size: 2em;
  line-height: 1.375;
  border-bottom: 5px solid #d3dde6;
}

.thorax-container {
  width: 60em;
  margin: 0 auto;
}

.thorax-wrapper {
  position: relative;
  padding: 75px 0px 25px 0px;
  min-height: 100%;
}

.thorax-primary {
  width: 62.5%;
  font-size: 0.9em;
  line-height: 1.6em;
}

.thorax-primary ul li code,
.thorax-primary p code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.thorax-secondary {
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 0;
  width: 34%;
  margin-left: 3.5%;
  padding: 2em 1.25em;
  border: 1px solid #d3dde6;
  border-top: 0;
  border-bottom: 0;
  background: #edf1f5;
}

.thorax-secondary h3 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.thorax-secondary ul {
  margin: 1em 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.thorax-secondary li {
  margin: 0.5em 0;
}

.thorax-footer {
  padding: 0.4em 0;
  border-top: 6px solid #1a75cf;
  background: #22394f;
  text-align: center;
}

.thorax-footer ul li {
  list-style-type: none;
  display: inline;
  margin: 0px 5px;
}

.thorax-footer ul li a {
  color: white;
  font-size: 0.9em;
}