<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/mocha/mocha.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <script src="../bower_components/mocha/mocha.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="mocha"></div>

    <script src="../bower_components/requirejs/require.js" data-main="config" type="text/javascript" charset="utf-8"></script>

</body>
</html>