<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link rel="stylesheet" href="../bower_components/mocha/mocha.css" />
  <style>
    #goToApp { padding: 15px; background-color: black; margin-right:73%;}
    #goToApp a { font-size: 24px; color: white; }
  </style>
</head>
<body>
  <div id="goToApp"><a href="/public/" target="_blank">browse app in a new tab</a></div>
  <div id="mocha"></div>
  <script>
    var require = {
      baseUrl: '../test'
    }
  </script>

  <script data-main="../main" src="../bower_components/requirejs/require.js"></script>
</body>
</html>